/*  ---------------------
    LAYOUT CLASSES
    --------------------- */

.invisible{
    @include invisible;
}

.light-section{
    @include set-background-colour($white);

    .button{
        @include button-colour($button-dark);
    }
}

.fixed-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    opacity: 0.5;
}

.section{
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include spacing(padding, left right, 0.75rem);

    @media screen and (min-width: $tablet-breakpoint){
        @include spacing(padding, left right, 9rem);
    }

    @media screen and (min-width: $laptop-breakpoint){
        @include spacing(padding, left right, 12rem);
    }
}
