/*  ---------------------
    LAYOUT CLASSES
    --------------------- */

.invisible{
    @include invisible;
}

.no-scroll{
    overflow: hidden;
}

.wrapper{
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include spacing(padding, left right, 0.75rem);

    @media screen and (min-width: $tablet-breakpoint){
        @include spacing(padding, left right, 8.5rem);
    }

    @media screen and (min-width: $laptop-breakpoint){
        @include spacing(padding, left right, 12rem);
    }
}

.light-section{
    @include set-background-colour($white);

    .button{
        @include button-colour($button-dark);
    }
}
