/*  ---------------------
    LINKS
    --------------------- */

a:not(.button){
    position: relative;
    @include set-font(body, bold);
    color: $green;
    text-decoration: none;
    cursor: pointer;

    &::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-bottom: 1px solid transparent;
        transform: translateY(-$extra-small-size);
        @include transition(border-color transform);
    }

    &:hover, &:focus{
        &::after{
            border-color: $green;
            transform: translateY(0);
        }
    }

    &.no-hover{
        &::after{
            display: none;
        }
    }
}

.button{
    @include button-base;
    border-width: $global-border-width;
    border-style: solid;
    overflow: hidden;
    @include transition(color background-color border-color);

    @media screen and (min-width: $phone-breakpoint){
        max-width: 12.5rem;
    }

    &:before, &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        @include transition(width);
        z-index: -1;
    }

    &:before{
        height: 1px;
    }

    &::after{
        left: 50%;
        height: 100%;
        transform: translateX(-50%) skewX(45deg);
    }

    &:hover, &:focus{
        &:before, &::after{
            width: calc(100% - 2.625rem);
        }
    }

    &:active{
        &:before, &::after{
            width: calc(100% + 2.625rem);
        }
    }

    & + .button{
        @include spacing(margin, top, sm);
    }

    &.center{
        @include spacing(margin, left right, auto);
    }

    &.full-width{
        max-width: 100%;
    }
}
