/*  ---------------------
NORMALIZE
--------------------- */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    @include set-background-colour($black);

    &.error,
    &.simple{
        .section{
            @media screen and (min-width: $header-breakpoint){
                @include spacing(padding, left, 0.75rem);
            }

            @media screen and (min-width: $laptop-breakpoint){
                @include spacing(padding, left right, 12rem);
            }
        }
    }

    .light-section{
        @include set-background-colour($white-off);
    }
}

main{
    @include spacing(padding, top, $header-height);

    @media screen and (min-width: $header-breakpoint){
        @include spacing(padding, top, 0);
    }
}

section, footer{
    min-height: 90vh;
    min-height: calc(100vh - #{$header-height});

    @media screen and (min-width: $header-breakpoint){
        min-height: 100vh;
    }
}

img{
    height: auto;
    max-width: 100%;
}
