/*  ---------------------
    NORMALIZE
    --------------------- */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main{
    padding-top: $header-height;

    @media screen and (min-width: $header-breakpoint){
        padding-top: 0;
    }
}

section, footer{
    min-height: 90vh;
    min-height: calc(100vh - #{$header-height});

    @media screen and (min-width: $header-breakpoint){
        min-height: 100vh;
    }
}

img{
    height: auto;
    max-width: 100%;
}
