/*  ---------------------
    NORMALIZE
    --------------------- */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main{
    padding-top: $header-height;
}

section, footer{
    min-height: 100vh;
}

img{
    height: auto;
    max-width: 100%;
}
