/*  ---------------------
    TYPOGRAPHY
    --------------------- */

body{
    @include set-font(body);
    font-size: $global-font-size;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

h1{
    @include h1;
}

h2{
    @include h2;
}

h3{
    @include h3;
}

label{
    @include h3;
}

p{
    @include set-font(body);
    font-size: $global-font-size;
    line-height: 1.5;
    @include spacing(padding, bottom, sm);
}

ul{
    list-style-type: none;
}

ol{
    list-style-type: decimal;
    list-style-position: inside;
}
