/*  ---------------------
    TYPOGRAPHY
    --------------------- */

body{
    @include set-font(body);
    @include set-background-colour($black);
    font-size: $global-font-size;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

h1, .h1{
    @include title-font;
    font-size: 3rem;
    line-height: 1.25;
}

h2, .h2{
    @include title-font;
    font-size: 2rem;
    line-height: 1.25;
}

h3, .h3{
    @include title-font;
    font-size: 1.5rem;
    line-height: 1.25;
}

label{
    @include title-font;
    font-size: 1.5rem;
    line-height: 1.25;
    @include transition(font-size top);
}

p{
    @include set-font(body);
    font-size: $global-font-size;
    line-height: 1.5;
    margin-bottom: 1rem;
}

ul{
    list-style-type: none;
}

ol{
    list-style-type: decimal;
    list-style-position: inside;
}
