/*  ---------------------
NOSCRIPT
--------------------- */
@import "application/atoms/variables/colours";

html {
    overflow: visible;
    pointer-events: auto;

    footer#contact,
    header > *:not(.logo),
    main {
        opacity: 1;
    }

    .fa {
        display: none !important;
    }

    header {
        background-color: $black;
    }

    .showcase-slider {
        display: none;
    }
}
