/*  ---------------------
NOSCRIPT
--------------------- */
@import "application/atoms/variables/breakpoints";
@import "application/atoms/variables/colours";

html{
    .fa{
        display: none !important;
    }

    header{
        @media screen and (min-width: $header-breakpoint){
            background-color: $black;
        }

        .main-navigation{
            ul.page-navigation{
                &::before, &::after{
                    display: none;
                }

                li{
                    &:first-child{
                        &::before{
                            display: none;
                        }
                    }

                    &:last-child{
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .preview-slider{
        display: none;
    }
}
