.featured-content{
    @include set-background-colour($black);
    position: relative;

    &.musicbook{
        .content{
            .button{
                &::after{
                    background-color: $musicbook-rgba;
                }
            }
        }
    }

    &.sex-ed{
        .content{
            .button{
                &::after{
                    background-color: $sex-ed-rgba;
                }
            }
        }
    }

    &.smart-fridge{
        .content{
            .button{
                &::after{
                    background-color: $smart-fridge-rgba;
                }
            }
        }
    }

    &.truckladders{
        .content{
            .button{
                &::after{
                    background-color: $truckladders-rgba;
                }
            }
        }
    }

    .content{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
        padding: $medium-size;

        .title{
            @include h2;
            padding-bottom: 0;
        }

        .description{
            max-width: 14rem;
        }

        .button{
            @include button-colour($button-light);
        }
    }
}
