form{
    width: 100%;
    max-width: 18.75rem;

    .input-container{
        position: relative;
        width: 100%;
        @include spacing(margin, bottom, 0.75rem);

        @media screen and (min-width: $phone-breakpoint){
            @include spacing(margin, bottom, sm);
        }

        label{
            position: absolute;
            top: 0.6875rem;
            left: 0.875rem;
            @include transition(font-size top);
            cursor: pointer;
        }

        &.active{
            label{
                font-size: 0.75rem;
                top: 0.25rem;
                pointer-events: none;
            }

            input,
            textarea,
            select{
                background-color: map-get($input-light, active-background-colour);
            }
        }

        &.error{
            input,
            textarea,
            select{
                background-color: map-get($input-light, error-background-colour);
            }
        }
    }
}
