form{
    width: 100%;
    max-width: 18.75rem;

    .input-container{
        position: relative;
        width: 100%;
        @include spacing(margin, bottom, 0.75rem);

        @media screen and (min-width: $phone-breakpoint){
            @include spacing(margin, bottom, sm);
        }

        &.required {
            label {
                &::after {
                    content: '*';
                }
            }

            .error-message {
                &::after {
                    content: none;
                }
            }
        }

        &.active{
            label{
                font-size: 0.75rem;
                top: 0.5rem;
                pointer-events: none;
            }

            &:not(.error){
                input,
                textarea,
                select{
                    background-color: map-get($input-light, active-background-colour);
                }
            }
        }

        &.error{
            @extend .active;

            label {
                opacity: 0;
            }

            .error-message {
                opacity: 1;
            }

            input,
            textarea,
            select{
                background-color: map-get($input-light, error-background-colour);
            }
        }

        label{
            display: flex;
            position: absolute;
            top: 0.875rem;
            left: 0.875rem;
            @include transition(font-size top);
        }

        .error-message {
            @extend label;
        }
    }
}

.grecaptcha-badge {
    @include invisible;
}
