form{
    @include spacing(padding, top bottom, md);

    .input-container{
        position: relative;
        width: 100%;
        max-width: 18.75rem;
        @include spacing(margin, bottom, sm);

        label{
            position: absolute;
            top: 0.6875rem;
            left: 0.875rem;
        }

        &.active{
            label{
                font-size: 0.75rem;
                top: 0.25rem;
            }
        }
    }
}
