.option-list{
    @include spacing(padding, top, 1.5rem);

    @media screen and (min-width: $laptop-breakpoint){
        display: flex;
    }

    .option{
        position: relative;
        @include set-background-colour($black);
        @include transition(background-color);
        overflow: hidden;
        z-index: 0;
        cursor: pointer;

        @media screen and (min-width: $laptop-breakpoint){
            width: 25%;
            @include spacing(padding, bottom, 25%);
        }

        & ~ .option{
            @include spacing(margin, top, 0.75rem);

            @media screen and (min-width: $laptop-breakpoint){
                @include spacing(margin, top, 0);
            }
        }

        &:hover, &:focus{
            @each $project, $colour in $project-colours{
                &.#{$project}{
                    @include set-background-colour(darken($colour, 10%));
                }
            }
        }

        &.active{
            @each $project, $colour in $project-colours{
                &.#{$project}{
                    @include set-background-colour($colour);

                    .content{
                        @media screen and (min-width: $laptop-breakpoint){
                            bottom: -$large-size;
                        }
                    }
                }
            }
        }

        .option-link{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .content{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 6.25rem;
            @include spacing(padding, all, md);

            @media screen and (min-width: $laptop-breakpoint){
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                min-height: 0;
                @include spacing(padding, top bottom, sm);
                @include spacing(padding, left right, 0);
                @include transition(bottom);
            }

            h3{
                @media screen and (min-width: $laptop-breakpoint){
                    @include set-font(body, bold);
                    font-size: 0.9rem;
                    line-height: 1;
                }

                @media screen and (min-width: $desktop-breakpoint){
                    font-size: $global-font-size;
                }
            }
        }
    }
}
