.preview-slider-container{
    padding-bottom: 4.5rem;

    .preview-slider{
        position: relative;
        @include spacing(padding, left right, 5.5rem);
        @include spacing(margin, top, md);

        &:focus{
            outline: none;
        }

        .flickity-viewport{
            height: 100%;
            overflow: hidden;
            @include transition(height);

            .flickity-slider{
                height: 100%;

                .slide{
                    width: 100%;

                    img{
                        display: block;
                        max-height: 75vh;
                        @include spacing(margin, left right, auto);
                    }
                }
            }
        }

        .flickity-prev-next-button{
            position: absolute;
            top: 50%;
            width: 0;
            height: 0;
            border-width: 0 2.75rem 4.625rem 2.75rem;
            border-style: solid;
            border-color: transparent transparent $black-rgba transparent;
            border-radius: $global-border-radius;
            background-color: transparent;
            cursor: pointer;
            @include transition(border-color);

            &:hover, &:focus{
                outline: none;
                border-color: transparent transparent $green-rgba transparent;
            }

            &.previous{
                left: -0.375rem;
                transform: translateY(-50%) rotateZ(-90deg);
            }

            &.next{
                right: -0.375rem;
                transform: translateY(-50%) rotateZ(90deg);
            }

            svg{
                display: none;
            }
        }
    }
}

body{
    @each $project, $colour in $project-colours{
        &.#{$project}{
            .preview-slider-container{
                .preview-slider{
                    .flickity-prev-next-button{
                        &:hover, &:focus{
                            border-color: transparent transparent $colour transparent;
                        }
                    }
                }
            }
        }
    }
}
