.project-list{
    padding-top: 1.5rem;

    .project{
        position: relative;
        @include set-background-colour($black);
        @include transition(background-color);
        cursor: pointer;

        & ~ .project{
            margin-top: 0.75rem;
        }

        &:hover, &:focus{
            @each $project, $colour in $project-colours{
                &.#{$project}{
                    @include set-background-colour(darken($colour, 10%));
                }
            }
        }

        &.active{
            @each $project, $colour in $project-colours{
                &.#{$project}{
                    @include set-background-colour($colour);
                }
            }
        }

        .content{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 6.25rem;
            padding: $medium-size;
        }
    }
}
