footer#contact{
    display: flex;
    align-items: center;
    justify-content: center;

    &::after{
        content: '';
        display: block;
        min-height: inherit;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include spacing(padding, top, md);
        @include spacing(padding, bottom, 0.75rem);
        width: 100%;
        max-width: 42rem;

        @media screen and (min-width: $footer-breakpoint){
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            @include spacing(padding, bottom, md);
        }

        form {
            max-width: 18.75rem;

            @media screen and (min-width: $footer-breakpoint){
                flex: 0 0 18.75rem;
            }
        }

        .contact-content{
            max-width: 18.75rem;
            text-align: center;
            @include spacing(padding, bottom, sm);

            @media screen and (min-width: $footer-breakpoint){
                flex: 0 1 20.75rem;
                max-width: 20.75rem;
                text-align: left;
                @include spacing(padding, bottom, 0);
                @include spacing(padding, right, md);
            }

            .contact-links{
                display: none;

                @media screen and (min-width: $footer-breakpoint){
                    display: block;
                }

                .button {
                    display: block;
                    max-width: 12.5rem;
                }
            }
        }
    }
}
