
/*  BREAKPOINTS
    --------------------- */

$phone-breakpoint   : 30rem;      // 480px
$tablet-breakpoint  : 46.25rem;   // 740px
$laptop-breakpoint  : 60rem;      // 960px
$desktop-breakpoint : 85.375rem;  // 1366px
