
/*  COLOURS
    --------------------- */

$white             : #FFFFFF;
$white-off         : #F8F8F8;
$white-rgba        : rgba($white-off, 0.5);

$black             : #212121;
$black-rgba        : rgba($black, 0.5);

$green             : #339933;
$red               : #993333;

$primary           : $green !default;
$primary-dark      : darken($primary, 10%) !default;
$primary-rgba      : rgba($primary, 0.5) !default;
$primary-rgba-dark : rgba($primary, 0.75) !default;

$disabled-font-colour       : lighten($black, 25%);
$disabled-background-colour : lighten($black, 50%);

/*  PROJECT COLOURS
    --------------------- */

$libro        : #007CC0;
$whats-my     : #3500F5;
$zucora       : #434C9F;
$pink-precast : #D52375;

$project-colours: (
    libro        : $libro,
    whats-my     : $whats-my,
    zucora       : $zucora,
    pink-precast : $pink-precast
);

/*  LINK COLOURS
    --------------------- */

$link-light: (
    default-background-colour : $white-off,
    hover-background-colour   : $primary
);

$link-dark: (
    default-background-colour : $black,
    hover-background-colour   : $primary
);

/*  BUTTON COLOURS
    --------------------- */

$button-light: (
    default-font-colour        : $white-off,
    default-background-colour  : $white-rgba,
    default-border-colour      : $white-off,

    hover-font-colour          : $white-off,
    hover-background-colour    : $primary-rgba,
    hover-border-colour        : $white-off,

    disabled-font-colour       : $disabled-font-colour,
    disabled-background-colour : $disabled-background-colour,
    disabled-border-colour     : $disabled-background-colour
);

$button-dark: (
    default-font-colour        : $black,
    default-background-colour  : $black-rgba,
    default-border-colour      : $black,

    hover-font-colour          : $white-off,
    hover-background-colour    : $primary-rgba-dark,
    hover-border-colour        : $primary,

    disabled-font-colour       : $disabled-font-colour,
    disabled-background-colour : $disabled-background-colour,
    disabled-border-colour     : $disabled-background-colour,
);

/*  INPUT COLOURS
    --------------------- */

$input-light: (
    default-font-colour       : $white-off,
    default-background-colour : $white-rgba,
    default-border-colour     : $white-off,

    hover-background-colour   : $primary-rgba,

    active-background-colour  : $primary-dark,

    error-background-colour   : $red
);

$input-dark: (
    default-font-colour       : $black,
    default-background-colour : $black-rgba,
    default-border-colour     : $black,

    hover-background-colour   : $primary-rgba,

    active-background-colour  : $primary-dark,

    error-background-colour   : $red
);

$submit-light: (
    default-font-colour       : $black,
    default-background-colour : $white-off,
    default-background-shadow : darken($white-off, 25%),

    hover-font-colour         : $white-off,
    hover-background-colour   : $primary,
    hover-background-shadow   : $primary-dark,

    active-background-colour  : $primary-rgba
);

$submit-dark: (
    default-font-colour       : $white-off,
    default-background-colour : $black,
    default-background-shadow : lighten($black, 25%),

    hover-font-colour         : $black,
    hover-background-colour   : $primary,
    hover-background-shadow   : $primary-dark,

    active-background-colour  : $primary-rgba
);
