/*  ---------------------
    COLOURS
    --------------------- */

$white      : #FFFFFF;
$white-off  : #F8F8F8;
$white-rgba : rgba($white-off, 0.5);

$black      : #212121;
$black-rgba : rgba($black, 0.5);

$green      : #339933;
$green-rgba : rgba($green, 0.5);

$red        : #993434;
$red-rgba   : rgba($red, 0.5);
