
/*  GLOBALS
    --------------------- */

$global-font-size     : 1rem;
$global-border-width  : 1px;
$global-border-radius : 0.125rem;
$global-transition    : 0.3s ease;
$button-padding       : 0.75rem;
$input-height         : 3.25rem;
