
/*  GLOBALS
    --------------------- */

$global-font-size      : 1rem;
$global-letter-spacing : 0.0625rem;
$global-border-width   : 0.0625rem;
$global-border-radius  : 0.125rem;
$global-shadow         : 0 1rem 1rem 0 rgba($black,0.1);
$global-transition     : 0.3s ease;
$button-padding        : 0.75rem;
$input-height          : 3.25rem;
$header-height         : 5rem;
