
/*  SIZES
    --------------------- */

$extra-small-size : 0.5rem;
$small-size       : 1rem;
$medium-size      : 2rem;
$large-size       : 4rem;
$extra-large-size : 8rem;

$sizes: (
    none : 0,
    xs   : $extra-small-size,
    sm   : $small-size,
    md   : $medium-size,
    lg   : $large-size,
    xl   : $extra-large-size
);
